body{
    background-color: lightgray;
    font-family: Fantasy, sans-serif;
}

table, th, td, tr{
    border-collapse: collapse;
    border: 1px solid black;
}
th{
    color: darkblue;
}

input{
    width: 50px;
}


#header{
    color: darkblue;
}

.title{
    color: black;
}