.container{
    background-color: lightgray;
    font-family: Fantasy, sans-serif;
    font-size: 16px;
    max-width: 500px;
    margin: auto;
    text-align: center;
    border-radius: 8px;
}

.header{        /* селектор классов */
    background: lavender;
}
label[for]{     /* селектор атрибутов */
    color: darkblue;
    text-align: left;
    margin: 5px;
}

img{
    border-radius: 8px;
}

table, th, td, tr{  /* селектор элемента */
    border-collapse: collapse;
    border: 1px solid black;
}

tr{
    background-color: white;
}
tr:nth-child(2) td{
    background-color: lightyellow;
}
tr:hover{
    background-color: lavender;
}

th{
    color: darkblue;
    background-color: lavender;
}

input, select{
    width: 50px;
    border-radius: 8px;
    font-weight: bold;
}

input:focus,select:focus{
    background-color: lavender;
}

input[type="button"], button{
    background-color: dodgerblue;
    border-color: darkblue;
    border-radius: 8px;
    color: darkblue;
    font-size: 16px;
    font-weight: bold;
    width: 100px;
    height: 30px;
    margin: 10px;
}

button{
    background-color: darkred;
    border-color: black;
    color: white;
}

input[type="button"]:hover{
    background-color: lavender;
}

button:hover{
    background-color: indianred;
}

#OptionForm, #respTable{
    background-color: white;
    width: 80%;
    margin: 0 auto;
    border-radius: 8px;
}

h2, h3{
    color: darkblue;
}

.title{
    color: black;
}